<div id="frontFlashMessage">
    {{ session.show('messageRegister') }}
    {{ session.show('messageLogin') }}
    {{ session.show('messageLogout') }}
    {{ session.show('messageRemoveAccount') }}
    {{ session.show('messageCreateOnePost') }}
    {{ session.show('messageFlagOneComment') }}
    {{ session.show('messageCheckLoggedIn') }}
    {{ session.show('error_login') }}
    {{ session.show('messageCreateOneComment') }}
    {{ session.show('messageRefreshOneComment') }}
    {{ session.show('messageRemoveOneComment') }}
    {{ session.show('messageContact') }}
</div>