{% extends 'base.html.twig' %}

{% block title%}Accueil{% endblock %}

{% block content %}

    {{ include('front/flashes.html.twig') }}

    <div id="wrapper">

        <h1>BLOG</h1>

        <div id="posts">
            {% if posts is empty %}
            <p class="alert alert-warning">Aucun billet de blog pour le moment.</p>
            {% else %}
                {% for post in posts %}
                    <div>
                        <h2>
                            <a href="index.php?action=getOnePostAndHisComments&postId={{ post.id }}">{{ post.postTitle }}</a>
                        </h2>
                        <p>
                            {{ post.postContent|slice(0, 400) }}
                        </p>
                        <div class="flex">
                            <a class="btn btn-secondary" href="index.php?action=getOnePostAndHisComments&postId={{ post.id }}">Lire la suite</a>
                            <p>(Le {{ post.postDateFr }}) par <strong>{{ post.postAuthor }}</strong></p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>

        {{ include('pagination.html.twig', {
            action: 'action=getBlog&'
        }) }}

    </div>

{% endblock %}