{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block content %}

    <div class="wrapper">
        <h1>Administration</h1>
        <div id="admin">
            {{ include('back/flashes.html.twig') }}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">Billets de blog</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="newComment-tab" data-toggle="tab" href="#newComment" role="tab" aria-controls="newComment" aria-selected="false">Nouveaux commentaires</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="flagComment-tab" data-toggle="tab" href="#flagComment" role="tab" aria-controls="flagComment" aria-selected="false">Commentaires signalés</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Utilisateurs</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
                    <h2>Billets de blog</h2>
                    <p><a class="btn btn-success" href="index.php?action=createOnePost">Ajouter un billet de blog</a></p>
                    {% if posts is empty %}
                        <p class="alert alert-warning">Pas de billets de blog.</p>
                    {% else %}
                        <table class="table table-bordered">
                            <tr>
                                <td>Id</td>
                                <td>Titre</td>
                                <td>Contenu</td>
                                <td>Auteur</td>
                                <td>Date</td>
                                <td>Actions</td>
                            </tr>
                            {% for post in posts %}
                                <tr>
                                    <td>{{ post.id }}</td>
                                    <td><a href="index.php?action=getOnePostAndHisComments&postId={{ post.id }}">{{ post.postTitle }}</a></td>
                                    <td>{{ post.postContent|slice(0, 150) }}</td>
                                    <td>{{ post.postAuthor }}</td>
                                    <td>Créé le : {{ post.postDateFr }}</td>
                                    <td>
                                        <a href="index.php?action=editOnePost&postId={{ post.id }}">Modifier</a>
                                        <br>
                                        <a href="index.php?action=removeOnePost&postId={{ post.id }}">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div class="tab-pane fade show active" id="newComment" role="tabpanel" aria-labelledby="newComment-tab">
                    <h2>Nouveaux commentaires</h2>
                    {% if newComments is empty %}
                        <p class="alert alert-warning">Pas de nouveaux commentaire.</p>
                    {% else %}
                        <table class="table table-bordered">
                            <tr>
                                <td>Id</td>
                                <td>Pseudo</td>
                                <td>Commentaire</td>
                                <td>Id billet</td>
                                <td>Date</td>
                                <td>Actions</td>
                            </tr>
                            {% for newComment in newComments %}
                                <tr>
                                    <td>{{ newComment.id }}</td>
                                    <td>{{ newComment.commentAuthor }}</td>
                                    <td>{{ newComment.commentContent|slice(0, 150) }}</td>
                                    <td>{{ newComment.commentPostId }}</td>
                                    <td>Créé le : {{ newComment.commentDateFr }}</td>
                                    <td>
                                        <a href="index.php?action=validateOneComment&commentId={{ newComment.id }}">Valider</a>
                                        <br>
                                        <a href="index.php?action=removeOneComment&commentId={{ newComment.id }}&postId={{ newComment.commentPostId }}">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div class="tab-pane fade show active" id="flagComment" role="tabpanel" aria-labelledby="flagComment-tab">
                    <h2>Commentaires signalés</h2>
                    {% if flagComments is empty %}
                        <p class="alert alert-warning">Pas de commentaire signalé.</p>
                    {% else %}
                        <table class="table table-bordered">
                            <tr>
                                <td>Id</td>
                                <td>Pseudo</td>
                                <td>Message</td>
                                <td>Date</td>
                                <td>Actions</td>
                            </tr>
                            {% for flagComment in flagComments %}
                                <tr>
                                    <td>{{ flagComment.id }}</td>
                                    <td>{{ flagComment.commentAuthor }}</td>
                                    <td>{{ flagComment.content|slice(0, 150) }}</td>
                                    <td>Créé le : {{ flagComment.commentDateFr }}</td>
                                    <td>
                                        <a href="index.php?action=unflagOneComment&commentId={{ flagComment.id }}">Désignaler</a>
                                        <br>
                                        <a href="index.php?action=removeOneComment&commentId={{ flagComment.id }}&postId={{ flagComment.commentPostId }}">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="user-tab">
                    <h2>Utilisateurs</h2>
                    {% if users is empty %}
                        <p class="alert alert-warning">Aucun utilisateur.</p>
                    {% else %}
                        <table class="table table-bordered">
                            <tr>
                                <td>Id</td>
                                <td>Pseudo</td>
                                <td>Date</td>
                                <td>Rôle</td>
                                <td>Actions</td>
                            </tr>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.userPseudo }}</td>
                                    <td>Créé le : {{ user.userCreatedAtFr }}</td>
                                    <td>{{ user.roleName }}</td>
                                    <td>
                                        {% if user.getRoleName is same as('new') %}
                                            <a href="index.php?action=activateSpecificUser&userId={{ user.id }}">Activer</a>
                                            <br>
                                        {% endif %}
                                        <a href="index.php?action=removeSpecificUser&userId={{ user.id }}">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}