<div id="backFlashMessage">
    {{ session.show('messageCreateOnePost') }}
    {{ session.show('messageRefreshOnePost') }}
    {{ session.show('messageRemoveOnePost') }}
    {{ session.show('messageRemoveOneComment') }}
    {{ session.show('messageUnflagOneComment') }}
    {{ session.show('messageRemoveSpecificUser') }}
    {{ session.show('messageActivateSpecificUser') }}
    {{ session.show('messageCheckAdmin') }}
    {{ session.show('messageRefreshPassword') }}
</div>