{% if post %}
    {% set formTarget = 'refreshOnePost&postId=' ~ post.id %}
    {% set submit = 'Modifier' %}
{% else %}
    {% set formTarget = 'createOnePost' %}
    {% set submit = 'Créer' %}
{% endif %}

<form method="post" action="index.php?action={{ formTarget }}">
    <div class="form-group">
        <label for="title">Titre</label><br>
        <input class="form-control" type="text" id="title" name="title" value="{% if post %}{{ post.postTitle }}{% endif %}">
        {% if errors.title %}
            <div class="alert alert-danger">{{ errors.title }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="content">Contenu</label><br>
        <textarea class="form-control" id="content" name="content">{% if post %}{{ post.postContent }}{% endif %}</textarea>
        {% if errors.content %}
            <div class="alert alert-danger">{{ errors.content }}</div>
        {% endif %}
    </div>
    <input class="btn btn-success" type="submit" value="{{ submit }}" id="submit" name="submit">
</form>