{# (action : editOneComment&commentId*) #}
{% if comment %}
    {# Errors #}
    {% if errors %}
        {% set formTarget = 'refreshOneComment&commentId=' ~ comment.id %}
        {% set content = commentForm.get('content') %}
        {% set submit = 'Modifier' %}
    {# No errors #}
    {% else %}
        {% set formTarget = 'refreshOneComment&commentId=' ~ comment.id %}
        {% set content = comment.commentContent %}
        {% set submit = 'Modifier' %}
    {% endif %}
{# action : createOneComment* #}
{% else %}
    {# Error #}
    {% if errors %}
        {% set formTarget = 'createOneComment&postId=' ~ post.id %}
        {% set content = commentForm.get('content') %}
        {% set submit = 'Ajouter' %}
    {# No errors #}
    {% else %}
        {% set formTarget = 'createOneComment&postId=' ~ post.id %}
        {% set content = '' %}
        {% set submit = 'Ajouter' %}
    {% endif %}
{% endif %}

<form method="post" action="index.php?action={{ formTarget }}">
    <label for="author">Auteur</label>
    <br>
    <input type="text" id="author" name="author" value="{{ session.get('pseudo') }}" readonly>
    <br>
    {% if errors.author %}{{ errors.author }}{% endif %}
    <br>
    <label for="content">Contenu</label>
    <br>
    <textarea id="content" name="content">{{ content }}</textarea>
    <br>
    {% if errors.content %}{{ errors.content }}{% endif %}
    <br>
    <input type="submit" value="{{ submit }}" id="submit" name="submit">
</form>
