{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block content %}
    {{ include('front/flashes.html.twig') }}

    {# session.get('pseudo') #}
    {% if session.get('pseudo') %}
        {% set expediteur = session.get('pseudo') %}
        {% set email = session.get('email') %}
        {% set readType = 'readonly' %}
        {# Error #}
        {% if errors %}
            {% set message = contactForm.get('message') %}
        {# No errors #}
        {% else %}
            {% set message = '' %}
        {% endif %}
    {# No session.get('pseudo') #}
    {% else %}
        {% set readType = '' %}
        {# Error #}
        {% if errors %}
            {% set expediteur = contactForm.get('expediteur') %}
            {% set email = contactForm.get('email') %}
            {% set message = contactForm.get('message') %}
        {# No errors #}
        {% else %}
            {% set expeditor = '' %}
            {% set message = '' %}
        {% endif %}
    {% endif %}

    <div class="wrapper">
        <h1>Contact</h1>
        <div id="contact">
            <form method="post" action="index.php?action=submitContactForm">
                <div class="form-group">
                    <label for="expediteur">Expéditeur</label><br>
                    <input class="form-control" type="text" id="expeditor" name="expediteur" value="{{ expediteur }}" {{ readType }}>
                    {% if errors.expediteur %}
                        <div class="alert alert-warning">{{ errors.expediteur }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="email">Email</label><br>
                    <input class="form-control" type="text" id="email" name="email" value="{{ email }}" {{ readType }}>
                    {% if errors.email %}
                        <div class="alert alert-warning">{{ errors.email }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="message">Message</label><br>
                    <textarea class="form-control" id="message" name="message">{{ message }}</textarea>
                    {% if errors.message %}
                        <div class="alert alert-warning">{{ errors.message }}</div>
                    {% endif %}
                </div>
                <!-- Recaptcha field -->
                <input type="hidden" id="recaptchaResponse" name="recaptcha-response">
                <input class="btn btn-secondary" type="submit" value="Envoyer" id="submit" name="submit">
            </form>
        </div>
    </div>
    <!-- Recaptcha call -->
    <script src="https://www.google.com/recaptcha/api.js?render=XXXXXXXXXXXXXXXXX"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('XXXXXXXXXXXXXXXXX', {action: 'submit'}).then(function(token) {
                // Add your logic to submit to your backend server here.
                document.getElementById('recaptchaResponse').value = token
            });
        });
    </script>

{% endblock %}
