{% extends 'base.html.twig' %}
{% block title %}Administration{% endblock %}
{% block content %}

    {{ include('back/flashes.html.twig') }}

    <div id="wrapper">

        <h1>Administration</h1>

        <div id="admin">
            <h2>Articles</h2>
            <p><a href="index.php?action=createOnePost">Ajouter un article</a></p>
            <table>
                <tr>
                    <td>Id</td>
                    <td>Titre</td>
                    <td>Contenu</td>
                    <td>Auteur</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td><a href="index.php?action=getOnePostAndHisComments&postId={{ post.id }}">{{ post.postTitle }}</a></td>
                        <td>{{ post.postContent }}</td>
                        <td>{{ post.postAuthor }}</td>
                        <td>Créé le : {{ post.postDateFr }}</td>
                        <td>
                            <a href="index.php?action=editOnePost&postId={{ post.id }}">Modifier</a>
                            <a href="index.php?action=removeOnePost&postId={{ post.id }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <h2>Commentaires signalés</h2>
            <table>
                <tr>
                    <td>Id</td>
                    <td>Pseudo</td>
                    <td>Message</td>
                    <td>Date</td>
                    <td>Actions</td>
                </tr>
                {% for flagComment in flagComments %}
                    <tr>
                        <td>{{ flagComment.id }}</td>
                        <td>{{ flagComment.commentAuthor }}</td>
                        <td>{{ flagComment.content|slice(0, 150) }}</td>
                        <td>Créé le : {{ flagComment.commentDateFr }}</td>
                        <td>
                            <a href="index.php?action=unflagOneComment&commentId={{ flagComment.id }}">Désignaler</a>
                            <a href="index.php?action=removeOneComment&commentId={{ flagComment.id }}&postId={{ flagComment.commentPostId }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            <h2>Utilisateurs</h2>
            <table>
                <tr>
                    <td>Id</td>
                    <td>Pseudo</td>
                    <td>Date</td>
                    <td>Rôle</td>
                    <td>Actions</td>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.userPseudo }}</td>
                        <td>Créé le : {{ user.userCreatedAtFr }}</td>
                        <td>{{ user.roleName }}</td>
                        <td>
                            {% if user.getRoleName is same as('new') %}
                                <a href="index.php?action=activateSpecificUser&userId={{ user.id }}">Activer</a>
                            {% endif %}
                            <a href="index.php?action=removeSpecificUser&userId={{ user.id }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br>
        </div>

    </div>

{% endblock %}