{# (action : editOneComment&commentId*) #}
{% if comment %}
    {# Errors #}
    {% if errors %}
        {% set formTarget = 'refreshOneComment&commentId=' ~ comment.id %}
        {% set content = commentForm.get('content') %}
        {% set submit = 'Modifier' %}
    {# No errors #}
    {% else %}
        {% set formTarget = 'refreshOneComment&commentId=' ~ comment.id %}
        {% set content = comment.commentContent %}
        {% set submit = 'Modifier' %}
    {% endif %}
{# action : createOneComment* #}
{% else %}
    {# Error #}
    {% if errors %}
        {% set formTarget = 'createOneComment&postId=' ~ post.id %}
        {% set content = commentForm.get('content') %}
        {% set submit = 'Ajouter' %}
    {# No errors #}
    {% else %}
        {% set formTarget = 'createOneComment&postId=' ~ post.id %}
        {% set content = '' %}
        {% set submit = 'Ajouter' %}
    {% endif %}
{% endif %}
<form method="post" action="index.php?action={{ formTarget }}">
    <div class="form-group">
        <label for="author">Auteur</label><br>
        <input class="form-control" type="text" id="author" name="author" value="{{ session.get('pseudo') }}" readonly>
        {% if errors.author %}
            <div class="alert alert-danger">{{ errors.author }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="content">Contenu</label><br>
        <textarea class="form-control" id="content" name="content">{{ content }}</textarea>
        {% if errors.content %}
            <div class="alert alert-danger">{{ errors.content }}</div>
        {% endif %}
    </div>
    <input class="btn btn-success" type="submit" value="{{ submit }}" id="submit" name="submit">
</form>